.section-benef {
  padding-top: 60px;
  padding-bottom: 60px;
  // margin-right: auto;
  // margin-left: auto;

  @media screen and (max-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits {
  display: block;

  @media screen and (max-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.benefits__item {
  max-width: 450px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 354px;
    flex-basis: calc(100% / 2 - 15px);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.benefits__item:nth-last-child(4n + 1) {
  padding-right: 0;
}

.benefits__header {
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.benefits__tittle {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--p-text-color);
}

.icon-benefits {
  fill: var(--h-text-color);
  text-align: center;
}

.benefits__cont-icon {
  max-width: 450px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background: var(--bg-color);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

/* .benefits .item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.benefits .item-antena::before {
  background-image: url("../Img/Icon/antenna.svg");
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.benefits .item-clock::before {
  background-image: url("../Img/Icon/clock.svg");
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.benefits .item-diagrama::before {
  background-image: url("../Img/Icon/diagram.svg");
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.benefits .item-astronaut::before {
  background-image: url("../Img/Icon/astronaut.svg");
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
} */
