.form-field-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mailing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // width: 450px;

  @media screen and (min-width: 768px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
    justify-content: start;
    align-items: start;
  }
}

.mailing-title {
  display: block;
  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--ptimary-lighte-color);

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: start;
    align-items: start;
  }
}

.form-footer {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 12px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.input-footer {
  width: 320px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  resize: none;
  outline: none;
  cursor: pointer;

  background-color: var(--background-color-foot-and-hero);

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: var(--ptimary-lighte-color);

  @media screen and (min-width: 300px) and (max-width: 477px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.but-send {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

  width: 200px;
  height: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--brand-color);
  color: var(--ptimary-lighte-color);
}

.icon-send {
  display: block;
  margin-left: 10px;
  fill: var(--ptimary-lighte-color);
}
