.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--brand-color);
}

.studio-head {
  color: #000;
}

.logohead {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
}

.logohead {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
