.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color-foot-and-hero);
  text-decoration: none;
}

.footer-logo {
  display: block;
  width: 145px;
  margin-bottom: 20px;

  @media screen and (min-width: 300px) {
    margin-right: auto;
    margin-left: auto;
  }
}

/* .footer .container {
  margin-bottom: -94px;
  margin-top: -94px;
} */

.studio {
  color: var(--ptimary-lighte-color);
}

.adres {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  width: 231px;

  .link {
    color: rgba(255, 255, 255, 0.6);
  }
}

.place {
  color: var(--ptimary-lighte-color);
  text-decoration: none;
}

.placed {
  display: block;
  margin-bottom: 9px;
}

.contacts-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cont-foot-item {
  margin-bottom: 9px;
  margin-left: 0;
}

.posicion-foot {
  display: flex;
  align-items: baseline;

  @media screen and (min-width: 300px) and (max-width: 767px) {
    max-width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    flex-wrap: nowrap;
  }
}

.container-footer {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-left: 76px;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.soc-container-footer {
  left: auto;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 89px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
  }
}

.join {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--ptimary-lighte-color);

  margin-bottom: 20px;
}

.footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 206px;

  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;

  list-style: none;
}

.footer__social-item {
  margin-right: 10px;
}

.footer__social-item {
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--brand-color);
    }
  }
}

.icon-footer {
  fill: var(--ptimary-lighte-color);
}
.soc-icon {
  fill: currentColor;

  .soc-link:hover &,
  .soc-link:focus & {
    fill: var(--ptimary-lighte-color);
  }
}

.soc-footer {
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    background-color: var(--brand-color);
  }
}
