:root {
  --p-text-color: #757575;
  --brand-color: #2196f3;
  --h-text-color: #212121;
  --ptimary-lighte-color: #fff;
  --background-color-foot-and-hero: #2f303a;
  --bg-color: #f5f4fa;
  --bg-cards: #eeeeee;
  --color-icon: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Утилиты */
